{% extends 'MaithCommonAdminBundle::adminlayout.html.twig' %}

{% block title %}Categorias{% endblock %}
{% block javascripts %}

<script src="{{ asset('bundles/maithcommonadmin/admin/vendor/chosen/chosen.jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/admin/vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function () {
    $('.datatable').dataTable({
        //"sPaginationType": "bootstrap",
        "oLanguage" : {
          "sProcessing":     "Procesando...",
          "sZeroRecords":    "No se encontraron resultados",
          "sEmptyTable":     "Ningún dato disponible en esta tabla",
          "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
          "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
          "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
          "sInfoPostFix":    "",
          "sSearch":         "Buscar:",
          "sUrl":            "",
          "sInfoThousands":  ",",
          "sLoadingRecords": "Cargando...",
          "oPaginate": {
            "sFirst":    "Primero",
            "sLast":     "Último",
            "sNext":     "Siguiente",
            "sPrevious": "Anterior"
          },
          "oAria": {
            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
          }
        }
    });
    
});    
</script>

{% endblock %}

{% block stylesheets %}
<link href="{{ asset('bundles/maithcommonadmin/admin/vendor/datatables/jquery.dataTables.min.css') }}" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('bundles/maithcommonadmin/admin/vendor/chosen/chosen.min.css') }}">
{% endblock %}
{% block body %}
<section class="panel panel-color">
  <header class="panel-heading text-uppercase"><i class="fa fa-lg fa-cogs"></i>Monografias Grado</header>
  <div class="panel-body">
    <div class="table-responsive no-border">
        <table class="table table-bordered table-striped mg-t datatable dataTable">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>
                        {% if category.type == constant('PUBLICACION', category) %}
                            Publicación
                        {% elseif category.type == constant('MONOGRAFIA', category) %}
                            Monografía
                        {% elseif category.type == constant('FUENTES', category) %}
                            Fuentes
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('admin_category_edit', { 'id': category.id }) }}" class="btn btn-success">Editar</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('admin_category_new') }}" class="btn btn-info">Crear categoria</a>
            </li>
        </ul>
    </div>
  </div>
</section>
{% endblock %}