{% extends 'MaithCommonAdminBundle::adminlayout.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-8">
        <section class="panel panel-color">
        <header class="panel-heading text-uppercase"><i class="fa fa-pencil-square-o"></i>Crear Usuario</header>
        <div class="panel-body">
            {{ form_start(form, {'attr' : { 'role' : 'form'} }) }}
            <div class="form-group">
                {{ form_errors(form.email) }}
                <label for="{{ form.email.vars.id }}">Email</label>
                {{ form_widget(form.email, {'attr' : {'class' : 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.user_roles) }}
                <label for="{{ form.user_roles.vars.id }}">Permisos</label>
                {{ form_widget(form.user_roles, {'attr' : {'class' : 'form-control'}}) }}
            </div>
            {{ form_rest(form) }}
            <div class="form-group">
                <button type="submit" class="btn btn-default"><i class="fa fa-save"></i>Guardar</button>
            </div>    
            {{ form_end(form) }}
        </div>
        </section>
    </div>
    <div class="col-lg-8">
        <a href="{{ path('admin_users_index') }}" class="btn btn-success" style="float: left; margin: 0!important;">
            <i class="fa fa-arrow-left"></i>Volver al listado
        </a>
    </div>
</div>
{% endblock %}
