{% extends 'base.html.twig' %}

{% block title %}{% trans %}app_title{% endtrans %} | {{ documento.title }}{% endblock %}

{% block body %}
<!--page title start-->
<section class="page-title ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">{% trans %}menu_documentos{% endtrans %}</a></li>
                    <li class="active">{{ documento.title }}</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--page title end-->


<section class="section-padding">
    <div class="container">
      {% if not portada is null %}
      <div class="mb-80">
          <img src="{{ portada.fullPath | mImage(500, 500, 'o') }}" class="doc-libros">
      </div>
      {% endif %}
      <div class="mb-80">
      	{{ documento.body | raw }}
        {% for file in archivos %}
          <a href="{{ path('descargar_archivo', {'id': file.id}) }}" target="blank" class="waves-effect waves-light btn red red-left">{% trans %}documento_ver_texto_completo{% endtrans %}{% if archivos | length > 1 %} {{ loop.index }}{% endif %}</a> {% if archivos | length > 1 %} </br></br>{% endif %}
        {% endfor %}
        {% for file in normas %}
          <a href="{{ path('descargar_archivo', {'id': file.id}) }}" class="normas-transcripcion" target="blank">{% trans %}documento_ver_norma{% endtrans %}{% if archivos | length > 1 %} {{ loop.index }}{% endif %}</a>{% if archivos | length > 1 %} </br></br>{% endif %}
        {% endfor %}
      </div>


    </div><!-- /.container -->
</section>
{% endblock %}