{% extends 'base.html.twig' %}

{% block title %}{% trans %}app_title{% endtrans %} | {% trans %}app_title_monografias_grado{% endtrans %}{% endblock %}

{% block body %}
<!--page title start-->
<section class="page-title ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="index.php">Monografías</a></li>
                    <li class="active">Trabajos de grado</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--page title end-->

<section class="section-padding">
    <div class="container">

      <div class="mb-80">
          <h2 class="section-title section-sub">Trabajos de Grado</h2>
          <p class="section-sub">Se publican aquí trabajos de investigación realizados por estudiantes en el marco del curso de grado (Lingüística Histórica, Seminarios, Taller metodológico). Agradecemos a los autores que generosamente nos permitieron su difusión.</p>                 
      </div>

      <div class="row mb-80">
        <div class="col-md-8 col-md-offset-2">
          <div class="panel-group feature-accordion brand-accordion icon angle-icon" id="basic">
            {% for key, data in trabajos %}
                <!--C-->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#basic" href="#basic-{{ key }}">
                        {{ key }}
                      </a>
                    </h3>
                  </div>
                  <div id="basic-{{ key }}" class="panel-collapse collapse">
                    {% for trabajo in data %}
                    <div class="panel-body">
                        <div><strong>{{ trabajo['trabajo'].authors }}:</strong> {{ trabajo['trabajo'].description }}</div>
                        {% for file in trabajo['files'] %}
                          <a href="{{ path('descargar_archivo', {'id': file.id}) }}" target="blank" class="waves-effect waves-light btn red">descargar pdf {% if trabajo['files'] | length > 1 %} {{ loop.index }}{% endif %}</a> {% if trabajo['files'] | length > 1 %} </br></br>{% endif %}
                        {% endfor %}
                    </div>
                    {% if data | length > 1 and not loop.last %}<hr/>{% endif %} 
                    {% endfor %}
                  </div>
                </div>
                <!--D-->              
            {% endfor %}
          </div>                  
        </div><!-- /.col-md-8 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
</section>
{% endblock %}