<div class="panel-body">
    {{ form_start(form, {'attr' : { 'role' : 'form'} }) }}
    <div class="form-group">
        {{ form_errors(form.authors) }}
        <label for="{{ form.authors.vars.id }}">Autores</label> - <span>La primer letra es el que se va a tomar para ordenarlos</span>
        {{ form_widget(form.authors, {'attr' : {'class' : 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_errors(form.description) }}
        <label for="{{ form.description.vars.id }}">Descripción</label>
        {{ form_widget(form.description, {'attr' : {'class' : 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_errors(form.url) }}
        <label for="{{ form.url.vars.id }}">Enlace</label>
        {{ form_widget(form.url, {'attr' : {'class' : 'form-control'}}) }}
        <p class="help-block">Este campo solo sera visible al ponerle un enlace web.</p>
    </div>
    {{ form_rest(form) }}
    <div class="form-group">
        <button type="submit" class="btn btn-default"><i class="fa fa-save"></i>Guardar</button>
    </div>    
    {{ form_end(form) }}
</div>