<ul class="nav navbar-nav navbar-right off-right">
  <li class="hidden-xs">
	<a href="javascript:;">
	  +{{ app.user.username }}
	</a>
  </li>

  
  <li class="quickmenu">
	<a href="javascript:;" data-toggle="dropdown">
	  <img src="{{ asset('bundles/maithcommonadmin/admin/img/avatar.jpg')}}" class="avatar pull-left img-circle" alt="user" title="user">
	  <i class="caret mg-l-xs hidden-xs no-margin"></i>
	</a>
	<ul class="dropdown-menu dropdown-menu-right mg-r-xs">
	  <li>
		<a href="{{ path('fos_user_change_password')}}">
		  <div class="pd-t-sm">
			{{ app.user.username }}
		  </div>
		</a>
	  </li>
	  <li>
		<a href="{{ path('fos_user_change_password')}}">Editar usuario</a>
	  </li>
	  <li>
		<a href="{{ path('homepage') }}">Sitio</a>
	  </li>
	  <li class="divider"></li>
	  <li>
		<a href="{{ path('fos_user_security_logout')}}">Salir</a>
	  </li>
	</ul>
  </li>
</ul>
