{% extends 'MaithCommonAdminBundle::adminlayout.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/maithcommonadmin/admin/vendor/calculator/jquery.calculator.alt.css') }}">
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/admin/vendor/calculator/jquery.plugin.min.js') }}"></script> 
<script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/admin/vendor/calculator/jquery.calculator.min.js') }}"></script> 
<script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/admin/vendor/calculator/jquery.calculator-es.js') }}"></script> 
<script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/admin/js/index.js') }}"></script> 
{% endblock %}


{% block body %}
<!-- content wrapper -->
<div class="content-wrap">
  <div class="row">

  </div>
</div>

{% endblock %}
