{% extends 'MaithCommonAdminBundle::adminlayout.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithcommonimage/css/maithalbums.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/maithcommonadmin/css/colorbox.css') }}" />
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('bundles/maithcommonadmin/js/jquery.colorbox-min.js') }}"></script>    
  <script type="text/javascript" src="{{ asset('bundles/maithcommonimage/js/imagesManager.js') }}"></script>    
{% endblock %}
{% block title %}Editar Monografia Posgrado{% endblock %}
{% block body %}
<div class="row">
    <div class="col-lg-8">
        <section class="panel panel-color">
        <header class="panel-heading text-uppercase"><i class="fa fa-pencil-square-o"></i>Editar Monografia Posgrado</header>
        <div class="panel-body">
            {{ form_start(edit_form, {'attr' : { 'role' : 'form'} }) }}
            <div class="form-group">
                {{ form_errors(edit_form.authors) }}
                <label for="{{ edit_form.authors.vars.id }}">Autores</label> - <span>La primer letra es el que se va a tomar para ordenarlos</span>
                {{ form_widget(edit_form.authors, {'attr' : {'class' : 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(edit_form.description) }}
                <label for="{{ edit_form.description.vars.id }}">Descripción</label>
                {{ form_widget(edit_form.description, {'attr' : {'class' : 'form-control'}}) }}
            </div>
            {{ form_rest(edit_form) }}
            <div class="form-group">
                <button type="submit" class="btn btn-default"><i class="fa fa-save"></i>Guardar</button>
            </div>    
            {{ form_end(edit_form) }}
        </div>
        </section>
    </div>
</div>
<div class="row">
  {{ render(controller('MaithCommonAdminBundle:Albums:albumsData', {'id': edit_form.vars.value.id, 'objectclass' : edit_form.vars.value.fullClassName }))}}
<hr/>
</div>
<div class="row">
    <div class="col-lg-8">
        <a href="{{ path('admin_monografiaposgrado_index') }}" class="btn btn-success" style="float: left; margin: 0!important;">
            <i class="fa fa-arrow-left"></i>Volver al listado
        </a>
            <div class="pull-right">  
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-warning" value="Borrar Monografia">
            {{ form_end(delete_form) }}
            </div>
    </div>
</div>
{% endblock %}
