{% extends 'MaithCommonAdminBundle::adminlayout.html.twig' %}

{% block title %}Crear Publicación{% endblock %}
{% block body %}
<div class="row">
    <div class="col-lg-8">
        <section class="panel panel-color">
        <header class="panel-heading text-uppercase"><i class="fa fa-pencil-square-o"></i>Crear Publicación</header>
        <div class="panel-body">
            {{ form_start(form, {'attr' : { 'role' : 'form'} }) }}
            <div class="form-group">
                {{ form_errors(form.authors) }}
                <label for="{{ form.authors.vars.id }}">Autores</label> - <span>La primer letra es el que se va a tomar para ordenarlos</span>
                {{ form_widget(form.authors, {'attr' : {'class' : 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.description) }}
                <label for="{{ form.description.vars.id }}">Descripción</label>
                {{ form_widget(form.description, {'attr' : {'class' : 'form-control'}}) }}
            </div>
            {{ form_rest(form) }}
            <div class="form-group">
                <button type="submit" class="btn btn-default"><i class="fa fa-save"></i>Guardar</button>
            </div>    
            {{ form_end(form) }}
        </div>
        </section>
    </div>
    <div class="col-lg-8">
        <a href="{{ path('admin_monografiaposgrado_index') }}" class="btn btn-success" style="float: left; margin: 0!important;">
            <i class="fa fa-arrow-left"></i>Volver al listado
        </a>
    </div>
</div>
{% endblock %}
